.header {
    background: #fff;
    padding: 96px 0 77px;
}

.header__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: #212429;
}

@media screen and (max-width: 768px) {
    .header {
        padding: 91px 16px 71px;
    }


    .header__title {
        font-size: 28px;
    }
}