/* Стилизация кнопки */
@import url('../../assets/css/main.css');

.button {
    border: none;
    padding: 15px 0 14px;
    border-radius: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--white);
    text-align: center;
}

.card__button {
    width: 189px;
    margin-right: 24px;
}

.button_primary {
    background: var(--blue-btn);
}

.button_primary:hover {
    background: var(--blue-btn-hover);
}

.button_primary:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.button_secondary {
    background: var(--purple);
}

.button_secondary:hover {
    background: var(--purple-btn-hover);
}

.button_secondary:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.button_alternate {
    color: var(--black);
    background: var(--white);
    border: 1px solid var(--grey-3);
}

.button_alternate:hover {
    border: 1px solid var(--black);
}

.button_alternate:disabled {
    pointer-events: none;
    opacity: 0.5;
}

