.histogram {
    font-size: 16px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
}

.histogram__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__link {
    padding-top: 2px;
    color: var(--blue-btn);
    text-decoration: none;
}

.histogram__content {
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1px;
    box-sizing: border-box;
}

.histogram__element {
    flex-basis: 9px;
    height: 50px;
    background: var(--blue-btn);
}

.histogram__element_10 {
    height: 10%;
}

.histogram__element_20 {
    height: 20%;
}

.histogram__element_30 {
    height: 30%;
}

.histogram__element_40 {
    height: 40%;
}

.histogram__element_50 {
    height: 50%;
}

.histogram__element_60 {
    height: 60%;
}

.histogram__element_70 {
    height: 70%;
}

.histogram__element_80 {
    height: 80%;
}

.histogram__element_90 {
    height: 90%;
}

.histogram__element_100 {
    height: 100%;
}