.histogram {
    font-size: 16px;
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
    background: var(--white);
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    box-sizing: border-box;
}

.histogram__header {
    display: flex;
    justify-content: space-between;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--black);
    opacity: 0.8;
}

.histogram__link {
    padding-top: 2px;
    color: var(--blue-btn);
    text-decoration: none;
}

.histogram__content {
    height: 50%;
    display: inline-flex;
    align-items: flex-end;
    gap: 1px;
    box-sizing: border-box;
}

.histogram__element {
    width: 20%;
    background: var(--blue-btn);
}

.histogram__element_10 {
    height: 10px;
}

.histogram__element_20 {
    height: 20px;
}

.histogram__element_30 {
    height: 30px;
}

.histogram__element_40 {
    height: 40px;
}

.histogram__element_50 {
    height: 50px;
}

.histogram__element_60 {
    height: 60px;
}

.histogram__element_70 {
    height: 70px;
}

.histogram__element_80 {
    height: 80px;
}

.histogram__element_90 {
    height: 90px;
}

.histogram__element_100 {
    height: 100px;
}