.footer {
    padding: 72px 417px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.footer__title {
    margin-bottom: 32px;
}