.preview {
    padding: 68px 0 30px;
    background: var(--white);
    border-top: 1px solid var(--grey-2);
    border-bottom: 1px solid var(--grey-2);
}

.preview__flex {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.preview__grid {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'links component component';
}