.input {
    display: inline-flex;
    padding: 17px 24px 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    border: 1px solid #DDE2E5;
    border-radius: 8px;
}

.input__field {
    border: none;
    outline: none;
}

.input__icon {
    display: none;
}

.input_success .input__icon {
    display: block;
}

.input_error .input__icon {
    display: block;
}

.input_error .input {
    border-color: var(--red);
}

.input__field:focus .input {
    border-color: var(--blue-btn);
}

